---
import type { CollectionEntry } from "astro:content";
import SocialButton from "./SocialButton.astro";
import { Image } from "astro:assets";

interface Props {
    member: CollectionEntry<"members">;
}

const { member } = Astro.props;

console.log(member.data.socials);
---

<div
    data-aos="flip-left"
    data-aos-anchor-placement="top-bottom"
    data-aos-delay="0"
    class="rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700"
>
    <div class="grid grid-cols-2 gap-x-4">
        <div>
            <Image
                class="w-full object-cover object-center rounded-lg"
                src={member.data.image.src}
                alt={member.data.image.alt}
            />
            <!-- Social Brands -->
            <div class="mt-3 space-x-1">
                {
                    member.data.socials.map((social) => (
                        <SocialButton social={social.type} text={social.text} />
                    ))
                }
            </div>
            <!-- End Social Brands -->
        </div>
        <div>
            <div>
                <h3 class="font-medium text-gray-800 dark:text-neutral-200">
                    {member.data.name}
                </h3>
                <p
                    class="text-xs uppercase text-gray-500 dark:text-neutral-500"
                >
                    {member.data.title}
                </p>
            </div>

            <p class="mt-3 text-gray-500 dark:text-neutral-500">
                {member.data.description}
            </p>
        </div>
    </div>
</div>
